{% extends 'CTX310/tree.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block type %}
CTX 510 ecoline
{% endblock %}


 


{% block list %}

    {% for i in circuits %}
        <div class="alert alert-dark mt-3" style="background-color: rgba(250, 250, 250, 0.6); marging-left: 800px">
            <a  class="text-dark" target="_blank" rel="noopener noreferrer" href="../media/{{ i.file }}"><p class="h5">операция - {{ i.operation }} - {{ i.title }}</p></a>
            <p>редакция {{ i.version }} | дата публикации: {{ i.date }}</p>
        </div>
    {% endfor %}

{% endblock %}

{% block img%}
url('{% static 'ctx310.png' %}')
{% endblock %}

{% block name %}
Электрические схемы CTX 510 ecoline
{% endblock %}

{% block not_name %}
Электрические схемы CTX 510 ecoline
{% endblock %}

{% block 510circuits %}
disabled border border-secondary
{% endblock %}

{% block ctx510 %}
border border-secondary
{% endblock %}