{% extends 'CTX310/tree.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block Manual %}
/manuals
{% endblock %}


{% block type %}
DMU 50 premium
{% endblock %}


 


{% block list %}

    {% for i in catalogs %}
        <div class="alert alert-dark mt-3" style="background-color: rgba(250, 250, 250, 0.6); marging-left: 800px">
            <a  class="text-dark" target="_blank" rel="noopener noreferrer" href="../media/{{ i.file }}"><p class="h5">операция - {{ i.operation }} - {{ i.title }}</p></a>
            <p>редакция {{ i.version }} | дата публикации: {{ i.date }}</p>
        </div>
    {% endfor %}

{% endblock %}

{% block img%}
url('{% static 'dmu50pre.png' %}')
{% endblock %}

{% block name %}
Каталоги DMU 50 premium
{% endblock %}

{% block not_name %}
Каталоги DMU 50 premium
{% endblock %}

{% block 50pcatalogs %}
disabled border border-secondary
{% endblock %}

{% block dmu50pre %}
border border-secondary
{% endblock %}